/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */
/*
 * Typography
 * ======================================================================== */
/**
 * Custom application mixins available through out the app
 */
/* Chat Scrollbar */
.listGroup {
  display: block;
  height: 320px;
  overflow-y: scroll;
}

.listGroupAccount {
  height: auto;
}

.listGroup .listGroupItem:first-child {
  border: none;
}

.listGroupTime {
  color: rgba(50, 50, 50, 0.6);
  font-size: 12px;
  font-weight: 600;
  padding: 15px 15px 0 15px;
}

.listGroupTitle {
  padding: 10px 15px 0 15px;
  margin-bottom: -5px;
}

.listGroupTitleAccount {
  padding: 10px 15px 0 25px;
  margin-bottom: -5px;
}

.listGroupSubtitle {
  padding: 5px 15px 0 15px;
  margin-bottom: -5px;
  font-size: 12px;
  color: #FFBF69;
}

.listGroupSubtitleAccount {
  padding: 5px 15px 0 25px;
  margin-bottom: -5px;
  font-size: 12px;
  color: #FFBF69;
}

.listGroup .messagesBadge {
  background-color: rgba(255, 234, 206, 0.51);
  border: 1px solid #FFAD01;
  color: #323232;
  padding: 0.2em 0.4em;
  font-size: 10px;
}

.listGroup .seeMore {
  padding: 0 15px 0 15px;
  color: #FFBF69;
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
}

.listGroup .seeMoreBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listGroupItem {
  border: 0;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  text-decoration: none;
  color: #323232;
  border-left: none;
  border-right: none;
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.listGroupItemAccount {
  border: 0;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  text-decoration: none;
  color: #323232;
  border-left: none;
  border-right: none;
  display: block;
  font-size: 14px;
  font-weight: 300;
  padding: 15px 25px 15px 25px !important;
}

.listGroupItem :global .progress {
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.listGroupItem :global .progress:hover {
  background: #000;
}

.listGroupItem:hover {
  background-color: #f8f9fa;
}

.listGroupItem:hover :global .progress {
  background: #fff !important;
}

.listGroupItem:first-child {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.listGroupItem:last-child {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.listGroupItem span {
  font-weight: 600;
}

.notificationIcon {
  margin-right: 1rem;
  float: left;
}

.notificationIcon::after {
  display: block;
  clear: both;
  content: "";
}
/*# sourceMappingURL=ListGroup.module.css.map */